<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" href="/images/icons/favicon.ico">

    <title>Plan de Nutritie</title>

    <!-- Bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS link to file -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- Navigation Bar - Items on the left + Hamburger Menu (Toggle) -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/icons/nav_logo.png" alt="" width="45" height="35"
                    class="d-inline-block align-text-top">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <!-- To move Items on the right: change to: <ul class="navbar-nav ms-auto"> -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faza1">Faza 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faza2">Faza 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faza3">Faza 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faza4">Faza 4</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jurnal">Jurnal</a>
                    </li>
                    <li class="nav-item">
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">