<%-include('partials/header');-%>

<div class="top-container">
    <h3>Faza 2 - Faza stricta de reechilibrare</h3>
    <br>

    <!-- Tabel - Faza2 - Obiectivul, Inceputul, Durata & Elementul de noutate  -->
    <div class="container-fluid faza_tabel">
        <div class="row first_row faza_row">
        </div>
        <div class="row faza_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Obiectivul:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Adaptarea organismului la alimentatia optimizata, armonizarea procesului metabolic. In acest mod se obtine atingerea greutatii propuse si ameliorarea semnificativa a starii de sanatate.</p>
            </div>
        </div>

        <div class="row faza_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Inceputul:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Dupa faza de pregatire.</p>
            </div>
        </div>

        <div class="row faza_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Durata:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Minim 14 zile.</p>
            </div>
        </div>

        <div class="row faza_row last_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Elementul de noutate:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Cele 8 reguli si lista individuala de alimente.</p>
            </div>
        </div>

    </div>
    <br>

    <!-- Faza2 - Descriere -->
    <div class="faza_descriere">
        <p>Va mentineti in faza 2 pana la atingerea obiectivului dorit, insa minim 14 zile.
            Incepand cu aceasta faza sunt aplicabile cele 8 reguli. In primele 14 zile va rugam sa fiti foarte exact si sa utilizati exclusiv alimentele din lista de alimente, in cantitatile mentionate. Va rugam sa nu utilizati in primele 2 saptamani grasime sau ulei suplimentar. Pentru pregatirea meselor sunt recomandate tigai stratificate, folie pentru friptura, vas de lut, vase de abur sau de asemenea gratar electric. Puteti fierbe inabusit in apa sau in concentrat de legume fara conservanti si fara zahar.
            </p>
        <p><strong>Important:
            In masura in care va mentineti o perioada prelungita in faza stricta de reechilibrare, va rugam sa va completati alimentatia dupa 14 zile cu uleiuri sanatoase, presate la rece. Recomandam zilnic minim 3 linguri de ulei sub forma unui amestec echilibrat de omega 3 si acizi grasi omega 6.</strong></p>
    </div>
    <br>

    <h5>PLAN DE MESE:</h5>

    <!-- Tabel - Faza2 - PLAN DE MESE -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img class="icon" src="/images/icons/clover.png" alt="Propunerea_1">
                        <h4 class="card-title">Propunerea 1</h4>
                        <br>
                        <div class="card-text-block">
                            <p class="card-masa"><strong>Mic dejun</strong></p>
                            <p class="card-text">20g Seminte oleaginoase</p>
                            <p class="card-text">15g Seminte</p>
                            <p class="card-text">70g Legume</p>
                        </div>

                        <img class="timp_5h" src="/images/icons/5h.jpg" alt="5h">

                        <div class="card-text-block">
                            <p class="card-masa"><strong>Pranz</strong></p>
                            <p class="card-text">115g Peste</p>
                            <p class="card-text">115g Salata</p>
                            <p class="card-text">Fructe</p>
                        </div>

                        <img class="timp_5h" src="/images/icons/5h.jpg" alt="5h">

                        <div class="card-text-block">
                            <p class="card-masa"><strong>Cina</strong></p>
                            <p class="card-text">125g Carne</p>
                            <p class="card-text">125g Salata</p>
                            <p class="card-text">Fructe</p>
                        </div>

                    </div>
                </div>
            </div>
        
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img class="icon" src="/images/icons/regula8_apple.png" alt="Propunerea_2">
                        <h4 class="card-title">Propunerea 2</h4>
                        <br>
                        <div class="card-text-block">
                            <p class="card-masa"><strong>Mic dejun</strong></p>
                            <p class="card-text">180ml Produse lactate</p>
                            <p class="card-text">30g Amidon</p>
                            <p class="card-text">Fructe</p>
                         </div>
                        <img class="timp_5h" src="/images/icons/5h.jpg" alt="5h">
                        <div class="card-text-block">
                            <p class="card-masa"><strong>Pranz</strong></p>
                            <p class="card-text">115g Carne de pasare</p>
                            <p class="card-text">115g Legume</p>
                            <p class="card-text">Fructe</p>
                        </div>

                        <img class="timp_5h" src="/images/icons/5h.jpg" alt="5h">

                        <div class="card-text-block">
                            <p class="card-masa"><strong>Cina</strong></p>
                            <p class="card-text">135g Ciuperci</p>
                            <p class="card-text">125g Legume</p>
                            <p class="card-text">Fructe</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img class="icon" src="/images/icons/star.png" alt="Propunerea_3">
                        <h4 class="card-title">Propunerea 3</h4>
                        <br>
                        <div class="card-text-block">
                            <p class="card-masa"><strong>Mic dejun</strong></p>
                            <p class="card-text">40g Branza</p>
                            <p class="card-text">70g Legume</p>
                            <p class="card-text">Fructe</p>
                        </div>
                        <img class="timp_5h" src="/images/icons/5h.jpg" alt="5h">
                        <div class="card-text-block">
                            <p class="card-masa"><strong>Pranz</strong></p>
                            <p class="card-text">70g Tofu</p>
                            <p class="card-text">115g Salata</p>
                            <p class="card-text">Fructe</p>
                        </div>

                        <img class="timp_5h" src="/images/icons/5h.jpg" alt="5h">

                        <div class="card-text-block">
                            <p class="card-masa"><strong>Cina</strong></p>
                            <p class="card-text">70g Leguminoase</p>
                            <p class="card-text">125g Salata</p>
                            <p class="card-text">Fructe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="plan_de_mese"><strong>Finalul meselor cel tarziu la ora 21!</strong></h5>
    <br>


    <!-- Tabel - Faza 2 - Lista individuala de alimente - proteine -->
    <h5>Lista individuala de alimente - proteine</h5>

        <div class="container-fluid faza_tabel">
            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/pumpkin_seeds.png" alt="Seminte_Oleaginoase">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">SEMINTE OLEAGINOASE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Seminte de dovleac.</p>
                </div>
            </div>
    
            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/regula5_fish.png" alt="Peste">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">PESTE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Biban de mare, biban rosu, chefal, cod, file de merlucius, guvizi, hering, macrou afumat, pangasius, salau, somon, sprot.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/milk.png" alt="Lactate">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">PRODUSE LACTATE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Lapte de soia, vaca.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/meat.png" alt="Carne">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">CARNE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Carne de miel, carne de vitel, friptura de vita.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/bird_meat.png" alt="Carne_de_pasare">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">CARNE DE PASARE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Piept de curcan, piept de pui.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/regula4_cheese.png" alt="Branza">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">BRANZA</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Branza de burduf, branza cremoasa de capra, feta, telemea, mozzarela.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/beans.png" alt="Leguminoase">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">LEGUMINOASE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Fasole bruna, fasole ochi-negri, fasole soia, linte galbena, naut.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/tofu.png" alt="Tofu">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">TOFU</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Tofu afumat sau neafumat.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/mushroom.png" alt="Ciuperci">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">CIUPERCI</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Champinion, padure, pleurotus.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/sunflower_seeds.png" alt="Seminte">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">SEMINTE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Seminte de floarea soarelui.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/egg.png" alt="Oua">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">OUA</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Puteti inlocui o portie de proteine de la pranz sau cina (fara ou la micul dejun) cu 2 oua. A se consuma <strong>maxim 8 oua pe saptamana!</strong></p>
                </div>
            </div>
    
        </div>
        <br>

    <!-- Tabel - Faza 2 - Lista individuala de alimente - carbohidrati -->
    <h5>Lista individuala de alimente - carbohidrati</h5>

        <div class="container-fluid faza_tabel">
            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/vegetable.png" alt="Legume">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">LEGUME</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Andive, anghinara conservata, ardei gras, avocado, bame, castraveti cornison (murati), ceapa verde, conopida, creson, dovleac, zucchini, fasole verde, frunze de telina, germeni de ridichi, germeni de semninte de dovleac, hrean, mangold, masline verzi, morcovi, praz, ridiche, spanac frunze, sparanghel alb, telina, varza acra, varza alba, varza cruda, broccoli.</p>
                </div>
            </div>
    
            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/salad.png" alt="Salata">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">SALATA</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Rucola, radicchio, salata romana, salata verde, valeriana.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/oat.png" alt="Amidon">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">AMIDON</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Fulgi de ovaz. In cazul in care consumati fulgi de ovaz la micul dejun va rugam sa renuntati la painea integrala.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/bread.png" alt="Paine">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">PAINE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Paine integrala de secara.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/fruits.png" alt="Fructe">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">FRUCTE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Afine(100g), caise (120g), mango(160g), mar (1), nectarine (1), papaya (180g), pepene cantalup (120g), pepene verde (180g), prune uscate (45g), zmeura (100g).</p>
                </div>
            </div>  
        </div>
        <br>

        <!-- Tabel - Faza 2 - Informatii suplimentare pentru planul de alimentatie -->
        <h5>Informatii suplimentare pentru planul de alimentatie</h5>

        <div class="container-fluid faza_tabel">
            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/regula7_water.png" alt="Apa">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">APA</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Va recomandam sa consumati zilnic 2L de apa. In acest mod este sprijinit procesul de evacuare a reziduurilor descompuse, fiind accelerat procesul de reglare a metabolismului.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/egg.png" alt="Oua">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">OUA</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Va rugam sa aveti in vedere ca puteti consuma maxim 8 oua pe saptamana. Puteti prepara ouale intr-o forma pe gustul tau, de exemplu fierte, ochiuri, omleta sau oua moi.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/mandelada.png" alt="Mandelada">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">MANDELADA</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>O varianta suplimentara delicioasa de mic dejun ca optiune pentru a inlocui micul dejun cunoscut este reprezentata de mandelada. Puteti opta pentru aceasta varianta si in cazul in care planul dumneavoastra nu include nuci sau seminte.
                    Puteti prepara mandelada lasand la inmuiat pe timpul noptii 30g migdale si 20g seminte de floarea soarelui si amestecarea acestora dimineata sau prin prepararea lor sub forma de pireu.  Adaugati prin amestecare mar taiat marunt sau dat prin razatoare si asezonati mandelada cu scortisoara sau menta.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/vegetable.png" alt="Legume">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">LEGUME</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Recomandam consumarea legumelor pe cat posibil gatite putin sau crude. Puteti utiliza si legume congelate, in cazul in care acestea nu contin nici un fel de conservanti. Bineinteles ca puteti inlocui legumele si salata in functie de preferinte si anotimp.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/herbs.png" alt="Condimente">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">PLANTE AROMATE SI CONDIMENTE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Pentru condimentarea meselor dumneavoastra puteti utiliza plante aromate proaspete sau uscate in cantitati obisnuite. Pentru dressing-ul salatei va rugam sa utilizati o lingurita de otet de mere sau otet pur balsamico, insa pe parcursul primelor 14 zile nu utilizati ulei.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/bread.png" alt="Paine">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">PAINE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Va rugam sa tineti cont de limita maxima de 2 felii pe zi. O felie de paine integrala de secara (25g) corespunde din punct de vedere al fiziologiei alimentare crisp de secara (10g).</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/fruits.png" alt="Fructe">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">FRUCTE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Consumati zilnic un mar acrisor de dimensiune medie. Suplimentar fata de mar puteti consuma zilnic alte 2 sortimente de fructe din lista, insa numai in cadrul meselor. Optati pentru sortimente de mere clasice precum Boskop, Gravensteiner, Goldparmane sau Ranette. In cazul in care in anotimpul actualnu puteti beneficia de fructe proaspete din lista, le puteti achizitiona congelate. Va rugam sa renuntati la conservele de fructe!</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/coffee-cup.png" alt="Cafea_si_ceai">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">CAFEA SI CEAI</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Consumati zilnic 3 cesti de cafea de dimensiuni normale si/sau 3 cesti de ceai negru, verde, alb sau de Rooibos, pe care va rugam sa le beti la momentul in care sunt servite mesele. Renuntati la lapte si zahar sau indulcitori.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/drink.png" alt="Bauturi">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">ALCOOL, BAUTURI RACORITOARE SI SUCURI DE FRUCTE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>In etapa stricta de reechilibrare nu este permisa in mod consecvent consumul de alcool, bauturi racoritoare si sucuri de fructe.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/vitamins.png" alt="Vitamine">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">VITAMINE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Se recomanda evitarea fierberii fructelor si legumelor si consumarea acestora in stare cruda sau doar usor inabusite.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/seeds.png" alt="Seminte">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">SEMINTE OLEAGINOASE, SEMINTE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Puteti consuma semintele oleaginoase in stare cruda sau le puteti prepara in diferite forme.</p>
                </div>
            </div>
   
        </div>

</div>

<%- include('partials/footer'); -%>