<%-include('partials/header');-%>

<div class="top-container">
    <h3>Faza 3 - Faza lejera de reechilibrare</h3>
    <br>

    <!-- Tabel - Faza3 - Obiectivul, Inceputul, Durata & Elementul de noutate  -->
    <div class="container-fluid faza_tabel">
        <div class="row first_row faza_row">
        </div>
        <div class="row faza_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Obiectivul:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Stabilirea procesului metabolic si mentinerea bunastarii/greutatii obtinute. Renuntarea treptata la cerintele stricte ale fazei 2, in favoarea unei mai mari libertati pentru alimentatia dumneavoastra.</p>
            </div>
        </div>

        <div class="row faza_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Inceputul:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Cel mai devreme dupa 14 zile in faza 2.</p>
            </div>
        </div>

        <div class="row faza_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Durata:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Mai multe saptamani pana la stabilizarea procesului metabolic modificat.</p>
            </div>
        </div>

        <div class="row faza_row last_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Elementul de noutate:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Extinderea listei de alimente, preluarea de alimente si cantitati suplimentare, care nu sunt prevazute in lista ("incercare si eroare"), posibilitate de aparitie a "Meselor de exceptie".</p>
            </div>
        </div>

    </div>
    <br>

    <h5>PLAN DE MESE:</h5>

    <!-- Tabel - Faza3 - PLAN DE MESE -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img class="icon" src="/images/icons/clover.png" alt="Propunerea_1">
                        <h4 class="card-title">Propunerea 1</h4>
                        <br>
                        <div class="card-text-block">
                            <p class="card-masa"><strong>Mic dejun</strong></p>
                            <p class="card-text">20g Seminte oleaginoase</p>
                            <p class="card-text">15g Seminte</p>
                            <p class="card-text">70g Legume</p>
                        </div>

                        <img class="timp_5h" src="/images/icons/5h.jpg" alt="5h">

                        <div class="card-text-block">
                            <p class="card-masa"><strong>Pranz</strong></p>
                            <p class="card-text">115g Peste</p>
                            <p class="card-text">115g Salata</p>
                            <p class="card-text">Fructe</p>
                        </div>

                        <img class="timp_5h" src="/images/icons/5h.jpg" alt="5h">

                        <div class="card-text-block">
                            <p class="card-masa"><strong>Cina</strong></p>
                            <p class="card-text">125g Carne</p>
                            <p class="card-text">125g Salata</p>
                            <p class="card-text">Fructe</p>
                        </div>

                    </div>
                </div>
            </div>
        
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img class="icon" src="/images/icons/regula8_apple.png" alt="Propunerea_2">
                        <h4 class="card-title">Propunerea 2</h4>
                        <br>
                        <div class="card-text-block">
                            <p class="card-masa"><strong>Mic dejun</strong></p>
                            <p class="card-text">180ml Produse lactate</p>
                            <p class="card-text">30g Amidon</p>
                            <p class="card-text">Fructe</p>
                         </div>
                        <img class="timp_5h" src="/images/icons/5h.jpg" alt="5h">
                        <div class="card-text-block">
                            <p class="card-masa"><strong>Pranz</strong></p>
                            <p class="card-text">115g Carne de pasare</p>
                            <p class="card-text">115g Legume</p>
                            <p class="card-text">Fructe</p>
                        </div>

                        <img class="timp_5h" src="/images/icons/5h.jpg" alt="5h">

                        <div class="card-text-block">
                            <p class="card-masa"><strong>Cina</strong></p>
                            <p class="card-text">135g Ciuperci</p>
                            <p class="card-text">125g Legume</p>
                            <p class="card-text">Fructe</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img class="icon" src="/images/icons/star.png" alt="Propunerea_3">
                        <h4 class="card-title">Propunerea 3</h4>
                        <br>
                        <div class="card-text-block">
                            <p class="card-masa"><strong>Mic dejun</strong></p>
                            <p class="card-text">40g Branza</p>
                            <p class="card-text">70g Legume</p>
                            <p class="card-text">Fructe</p>
                        </div>
                        <img class="timp_5h" src="/images/icons/5h.jpg" alt="5h">
                        <div class="card-text-block">
                            <p class="card-masa"><strong>Pranz</strong></p>
                            <p class="card-text">70g Tofu</p>
                            <p class="card-text">115g Salata</p>
                            <p class="card-text">Fructe</p>
                        </div>

                        <img class="timp_5h" src="/images/icons/5h.jpg" alt="5h">

                        <div class="card-text-block">
                            <p class="card-masa"><strong>Cina</strong></p>
                            <p class="card-text">70g Leguminoase</p>
                            <p class="card-text">125g Salata</p>
                            <p class="card-text">Fructe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="plan_de_mese"><strong>Finalul meselor cel tarziu la ora 21!</strong></h5>
    <br>


    <!-- Tabel - Faza 3 - Lista individuala de alimente - proteine -->
    <h5>Lista individuala de alimente - proteine</h5>

        <div class="container-fluid faza_tabel">
            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/pumpkin_seeds.png" alt="Seminte_Oleaginoase">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">SEMINTE OLEAGINOASE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Seminte de dovleac.</p>
                </div>
            </div>
    
            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/regula5_fish.png" alt="Peste">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">PESTE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Biban de mare, biban rosu, chefal, cod, file de merlucius, guvizi, hering, macrou afumat, pangasius, salau, somon, sprot.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/milk.png" alt="Lactate">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">PRODUSE LACTATE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Lapte de soia, vaca.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/meat.png" alt="Carne">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">CARNE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Carne de miel, carne de vitel, friptura de vita.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/bird_meat.png" alt="Carne_de_pasare">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">CARNE DE PASARE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Piept de curcan, piept de pui.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/regula4_cheese.png" alt="Branza">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">BRANZA</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Branza de burduf, branza cremoasa de capra, feta, telemea, mozzarela.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/beans.png" alt="Leguminoase">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">LEGUMINOASE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Fasole bruna, fasole ochi-negri, fasole soia, linte galbena, naut.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/tofu.png" alt="Tofu">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">TOFU</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Tofu afumat sau neafumat.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/mushroom.png" alt="Ciuperci">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">CIUPERCI</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Champinion, padure, pleurotus.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/sunflower_seeds.png" alt="Seminte">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">SEMINTE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Seminte de floarea soarelui.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/egg.png" alt="Oua">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">OUA</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Puteti inlocui o portie de proteine de la pranz sau cina (fara ou la micul dejun) cu 2 oua. A se consuma <strong>maxim 8 oua pe saptamana!</strong></p>
                </div>
            </div>
    
        </div>
        <br>

        <!-- Tabel - Faza 3 - Lista individuala de alimente - carbohidrati -->
        <h5>Lista individuala de alimente - carbohidrati</h5>

        <div class="container-fluid faza_tabel">
            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/vegetable.png" alt="Legume">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">LEGUME</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Andive, anghinara conservata, ardei gras, avocado, bame, castraveti cornison (murati), ceapa verde, conopida, creson, dovleac, zucchini, fasole verde, frunze de telina, germeni de ridichi, germeni de semninte de dovleac, hrean, mangold, masline verzi, morcovi, praz, ridiche, spanac frunze, sparanghel alb, telina, varza acra, varza alba, varza cruda, broccoli.</p>
                </div>
            </div>
    
            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/salad.png" alt="Salata">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">SALATA</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Rucola, radicchio, salata romana, salata verde, valeriana.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/oat.png" alt="Amidon">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">AMIDON</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Fulgi de ovaz. In cazul in care consumati fulgi de ovaz la micul dejun va rugam sa renuntati la painea integrala.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/bread.png" alt="Paine">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">PAINE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Paine integrala de secara.</p>
                </div>
            </div>

            <div class="row first_row faza_row">
                <div class="col-md-1 col-sm-2">
                    <img class="icon" src="/images/icons/fruits.png" alt="Fructe">
                </div>
                <div class="col-md-2 col-sm-3">
                    <p class="regula_nr">FRUCTE</p>
                </div>
                <div class="col-md-9 col-sm-7">
                    <p>Afine(100g), caise (120g), mango(160g), mar (1), nectarine (1), papaya (180g), pepene cantalup (120g), pepene verde (180g), prune uscate (45g), zmeura (100g).</p>
                </div>
            </div>  
    </div>

    <br>      

</div>

<%- include('partials/footer'); -%>