<%-include('partials/header');-%>

<div class="top-container">
    <h3>Faza 4 - Faza de mentinere</h3>
    <br>

    <!-- Tabel - Faza4 - Obiectivul, Inceputul, Durata & Elementul de noutate  -->
    <div class="container-fluid faza_tabel">
        <div class="row first_row faza_row">
        </div>
        <div class="row faza_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Obiectivul:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Regim cotidian normal cu respectarea in continuare a celor 8 reguli pentru mentinerea permanenta a procesului metabolic echilibrat, a sanatatii si a bunastarii.</p>
            </div>
        </div>

        <div class="row faza_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Inceputul:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Dupa faza 3.</p>
            </div>
        </div>

        <div class="row faza_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Durata:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Nelimitat.</p>
            </div>
        </div>

        <div class="row faza_row last_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Elementul de noutate:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Desprinderea de strictetea planului.</p>
            </div>
        </div>

    </div>
    <br>

    <!-- Mesele de exceptie -->
    <h5>Mesele de exceptie</h5>
    <p>Alegeti in mod constient, din cand in cand, mese de exceptie, in special in situatia in care urmeaza un eveniment, de exemplu o aniversare de familie: mancati ce doriti - fara sa aveti mustrari de constiinta!</p>
    <p>Tineti insa cont de semnalele si reactiile organismului dumneavoastra si, pentru o alimentatie variata, respectati cele 8 reguli pentru mesele de exceptie.</p>
    <p>Acordati atentie semnalelor revigorate ale organismului dumneavoastra, de exemplu intensificarea simtului olfactiv sau gustativ, o senzatie efectiva de satietate - sau simplu o intoleranta brusca fata de alimentele preferate in trecut. Desi ati visat 14 zile la mancarea dumneavoastra favorita, aceasta nu mai este brusc pe gustul dumneavoastra? Se poate intampla acest lucru. Va rugam sa tratati cu seriozitate acest mesaj transmis de catre organism si sa dati dovada de curajul necesar pentru a nu continua sa mancati. Regula de baza este reprezentata de starea dumneavoastra de bine!</p>
    <br>

    <!-- Tabel - Cele 8 Reguli - Faza 4 -->
    <h5>Cele 8 reguli pentru mesele de exceptie</h5>

    <div class="container-fluid">
        <div class="row first_row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/regula1_plate.png" alt="regula1">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3">
                <p class="regula_nr">Regula 1:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-7">
                <p>Includeti pentru inceput o singura data pe saptamana o masa de exceptie si incepeti-o si pe aceasta cu proteine.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/regula7_water.png" alt="regula2">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3">
                <p class="regula_nr">Regula 2:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-7">
                <p>Beti apa inainte si dupa o masa de exceptie.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/regula3_hour.png" alt="regula3">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3">
                <p class="regula_nr">Regula 3:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-7">
                <p>In cazul in care masa dureaza mai mult de o ora, faceti minim 15 minute pauza, pe parcursul carei veti consuma numai apa. Incepeti ulterior din nou cu proteina.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/regula4_cheese.png" alt="regula4">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3">
                <p class="regula_nr">Regula 4:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-7">
                <p>Daca nu mancati acasa: Luati la dumneavoastra cateva nuci sau branza - ca rezerva de proteine in timpul deplasarii.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/remove-from-cart.png" alt="regula5">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3">
                <p class="regula_nr">Regula 5:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-7">
                <p>Renuntati cu ocazia celorlalte mese din ziua respectiva la fructe si produse suplimentare pe baza de amidon, de exemplu paine.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/sauces.png" alt="regula6">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3">
                <p class="regula_nr">Regula 6:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-7">
                <p>Consumati cu masura sosuri si garnituri cu concentratie ridicata de carbohidrati.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/chocolate.png" alt="regula7">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3">
                <p class="regula_nr">Regula 7:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-7">
                <p> La ciocolata, optati pentru produse cu o concentratie ridicata de cacao (peste 70%), mancati tihnit o cantitate redusa - si serviti masa cu placere!</p>
            </div>
        </div>

        <div class="row last_row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/drink.png" alt="regula8">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3">
                <p class="regula_nr">Regula 8:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-7">
                <p>Limitati-va consumul de bauturi alcoolice, beti apa, si ganditi-va ca: mai putin inseamna si aici mai multa savoare!</p>
            </div>
        </div>

    </div>

    <br>      

</div>

<%- include('partials/footer'); -%>