<%-include('partials/header');-%>

<div class="top-container">
    <h3>Faza 1 - Faza de Pregatire</h3>
    <br>

    <!-- Tabel - Faza1 - Obiectivul, Inceputul, Durata & Elementul de noutate  -->
    <div class="container-fluid faza_tabel">
        <div class="row first_row faza_row">
        </div>
        <div class="row faza_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Obiectivul:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Pregatirea organismului pentru schimbarea obiceiurilor alimentare si evitarea senzatiei de foame.</p>
            </div>
        </div>

        <div class="row faza_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Inceputul:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Moment ales de de dumneavoastra.</p>
            </div>
        </div>

        <div class="row faza_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Durata:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Doua zile.</p>
            </div>
        </div>

        <div class="row faza_row last_row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="regula_nr">Elementul de noutate:</p>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <p>Alimente usoare, golire completa a intestinului.</p>
            </div>
        </div>

    </div>
    <br>

     <!-- Faza1 - Descriere -->
    <div class="faza_descriere">
        <p>In aceasta faza se va pregatiti organismul timp de 2 zile pentru schimbarea obiceiurilor alimentare. In acest scop este necesara golirea completa a intestinului pentru a evita aparitia ulterioara a senzatiei de foame. Din acest motiv, in primele 2 zile ale programului, consumati numai alimente usoare pentru organism pentru a se putea adapta la schimbarea obiceiurilor alimentare.</p>
        <p><strong>Important: Pentru curatarea colonului va recomandam in primele 2 zile ale fazei de pregatire sustinerea procesului de golire a intestinului (sulfat de magneziu -> sare amara)!</strong></p>
    </div>
    <br>

    <h5>Pentru ambele zile ale fazei de pregatire alegeti:</h5>

    <!-- Tabel - Faza1 - Dimineata / Pranz / Seara -->
    <div class="container-fluid faza_tabel">
        <div class="row first_row faza_row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/morning.png" alt="Dimineata">
            </div>
            <div class="col-md-1 col-sm-3">
                <p class="regula_nr">Dimineata:</p>
            </div>
            <div class="col-md-10 col-sm-7">
                <p>Un mic dejun lejer (ex. Iaurt cu fruct)</p>
            </div>
        </div>

        <div class="row faza_row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/noon.png" alt="Pranz">
            </div>
            <div class="col-md-1 col-sm-3">
                <p class="regula_nr">Pranz:</p>
            </div>
            <div class="col-md-10 col-sm-7">
                <p>Supa de legume (max 500g de legume proaspete sau congelate, pasate sau taiate bucati - fara supe instant - si 1 mar.</p>
            </div>
        </div>

        <div class="row faza_row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/evening.png" alt="Seara">
            </div>
            <div class="col-md-1 col-sm-3">
                <p class="regula_nr">Cina:</p>
            </div>
            <div class="col-md-10 col-sm-7">
                <p>Max 500g (greutate bruta) de salata sau legume fierte, inabusite sau crude, condimentate cu plante aromate; fara amestecuri de condimente si fara alte adaosuri, de exemplu ulei, otet sau alte produse similare.</p>
            </div>
        </div>
    </div>
    <br>

    <h5>Alternativ in mod suplimentar - la alegere si optional - puteti consuma o zi intreaga un singur aliment, de exemplu cartofi, legume sau orez!</h5>
    <br>

    <p>Puteti consuma fructele si legumele crude sau inabusite, respectiv fierte sau sub forma de piure fin, ca smoothie. Fierberea orezului sau a cartofilor trebuie efectuate numai in apa. Utilizati in functie de gusturi condimente, insa nu unt sau ulei. Pentru orez se poate utiliza si compot de mere (2 linguri per masa, fara zahar).
        Daca va saturati cu o cantitate mai redusa decat cea mentionata, opriti-va din mancat.</p>
      
    <p>Informatiile referitoare la greutate se refera la greutatea produsului <strong>crud!</strong></p>

    <!-- Tabel - Faza1 - Zilele de: Fructe / Legume / Cartofi / Orez -->
    <div class="container-fluid faza_tabel">
        <div class="row first_row faza_row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/fruits.png" alt="Fructe">
            </div>
            <div class="col-md-1 col-sm-3">
                <p class="regula_nr">Zi de fructe:</p>
            </div>
            <div class="col-md-10 col-sm-7">
                <p>Max. 1 kg de fructe, distribuite in 3 mese</p>
            </div>
        </div>

        <div class="row faza_row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/vegetable.png" alt="Legume">
            </div>
            <div class="col-md-1 col-sm-3">
                <p class="regula_nr">Zi de legume:</p>
            </div>
            <div class="col-md-10 col-sm-7">
                <p>Max. 1.5 kg legume, distribuite in 3 mese.</p>
            </div>
        </div>

        <div class="row faza_row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/potato.png" alt="Cartofi">
            </div>
            <div class="col-md-1 col-sm-3">
                <p class="regula_nr">Zi de cartofi:</p>
            </div>
            <div class="col-md-10 col-sm-7">
                <p>Max. 1.5 kg cartofi, distribuite in 3 mese.</p>
            </div>
        </div>

        <div class="row faza_row">
            <div class="col-md-1 col-sm-2">
                <img class="icon" src="/images/icons/rice_bowl.png" alt="Orez">
            </div>
            <div class="col-md-1 col-sm-3">
                <p class="regula_nr">Zi de orez:</p>
            </div>
            <div class="col-md-10 col-sm-7">
                <p>Max. 200g orez integral, distribuit in 3 mese.</p>
            </div>
        </div>

    </div>
    <br>

</div>

<%- include('partials/footer'); -%>