<%-include('partials/header');-%>

        <h1 class="pageTitle">Plan de nutritie</h1>

        <!-- Top Container -->
        <div class="top-container">

            <!-- Program Metabolic -->
            <h3>Program metabolic in 4 faze</h3>
            <p>Prin intermediul programului Metabolic Balance va adaptati alimentatia in functie de necesitatile organismului dumneavoastra.
                Programul este structurat in patru faze, prin care va apropiati pas cu pas de obiectivul dumneavoastra. Primele 14 zile ale fazei 2 sunt aplicabile cerinte stricte. Din acest motiv este important sa alegeti un moment potrivit pentru inceperea procesului de transformare metabolica. Pe parcursul evolutiei ulterioare a programului aceste cerinte sunt relaxate treptat si controlat, iar prin trecerea la faza 3 beneficiati de mai multa libertate pentru alimentatia dumneavoastra. Cu timpul, principiile metabolic balance vor fi asimilate atat de puternic, incat va veti putea alimenta practic in conditii optime pentru organism. </p>
            <br>

            <!-- Tabel - Cele 8 Reguli -->
            <h3>Cele 8 reguli</h3>

            <div class="container-fluid">
                <div class="row first_row">
                    <div class="col-md-1 col-sm-2">
                        <img class="icon" src="/images/icons/regula1_plate.png" alt="regula1">
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-3">
                        <p class="regula_nr">Regula 1:</p>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-7">
                        <p>Consumati numai 3 mese pe zi! In etapa stricta de reechilibrare nu consumati mai mult, mai
                            putin, sau altceva decat ce este prevazut in lista personala de alimente.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <img class="icon" src="/images/icons/regula2_hourglass.png" alt="regula2">
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-3">
                        <p class="regula_nr">Regula 2:</p>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-7">
                        <p>Dupa fiecare masa faceti pauza de minim 5 ore inainte de a incepe masa urmatoare.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <img class="icon" src="/images/icons/regula3_hour.png" alt="regula3">
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-3">
                        <p class="regula_nr">Regula 3:</p>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-7">
                        <p>Mesele nu trebuie sa dureze mai mult de 60 de minute.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <img class="icon" src="/images/icons/regula4_cheese.png" alt="regula4">
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-3">
                        <p class="regula_nr">Regula 4:</p>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-7">
                        <p>Incepeti fiecare masa cu una pana la 2 imbucaturi din portia de proteine!</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <img class="icon" src="/images/icons/regula5_fish.png" alt="regula5">
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-3">
                        <p class="regula_nr">Regula 5:</p>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-7">
                        <p>Consumati la fiecare masa numai un tip de proteine, insa la fiecare dintre cele 3 mese un tip
                            diferit.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <img class="icon" src="/images/icons/regula6_night.png" alt="regula6">
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-3">
                        <p class="regula_nr">Regula 6:</p>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-7">
                        <p>In functie de posibilitati, nu mancati dupa ora 21.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <img class="icon" src="/images/icons/regula7_water.png" alt="regula7">
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-3">
                        <p class="regula_nr">Regula 7:</p>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-7">
                        <p>Consumati, pe parcursul intregii zile, minim 2L de apa pe zi.</p>
                    </div>
                </div>

                <div class="row last_row">
                    <div class="col-md-1 col-sm-2">
                        <img class="icon" src="/images/icons/regula8_apple.png" alt="regula8">
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-3">
                        <p class="regula_nr">Regula 8:</p>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-7">
                        <p>Consumati fructele (de exemplu zilnic un mar) la masa sau ca desert.</p>
                    </div>
                </div>

            </div>
            <br>

            <!-- Citeste mai mult - Reguli -->
            <a class="btn btn-info btn_show">Citeste mai mult...</a>

            <div class="container-fluid hidden display">
                <br>
                <img class="citeste_mai_mult_icon" src="/images/icons/regula1_plate.png" alt="regula1">
                <img class="citeste_mai_mult_icon" src="/images/icons/regula2_hourglass.png" alt="regula2">
                <img class="citeste_mai_mult_icon" src="/images/icons/regula3_hour.png" alt="regula3">
                <img class="citeste_mai_mult_icon" src="/images/icons/regula6_night.png" alt="regula6">
                <p class="regula_nr">Regula 1, Regula 2, Regula 3, Regula 6:</p>
                <p>Consumati 3 mese pe zi cu durata maxima de o ora. Dupa finalul unei mese si pana la inceperea mesei urmatoare faceti o pauza de minim 5 (maxim 7) ore. Pe cat posibil nu mai mancati nimic dupa ora 21. In mod ideal faceti de 2 ori saptamanal o pauza de 14 ore, de preferinta noaptea. Pe parcursul pauzei cu durata de 5 ore intre mese, [recum si in timpul repausului nocturn scade nivelul de insulina atat de mult, incat grasimea poate fi arsa foarte bine. Pe de alta parte, daca optati pentru 5 pana la 6 mese mici sau pentru mese intermediare, nivelul d einsulina ramane permanent ridicat, iar organismul formeaza in principal grasime si nu masa musculara! In mod suplimentar, o concentratie de insulina ridicata permanent inhiba productia unui numar mare de hormoni care protejeaza organismul atat impotriva infectiilor, cat si a procesului de imbatranire!</p>

                <img class="citeste_mai_mult_icon" src="/images/icons/regula4_cheese.png" alt="regula4">
                <p class="regula_nr">Regula 4:</p>
                <p>Incepeti fiecare masa cu una pana la 2 inghitituri dintr-o portie de proteine pentru a regla permanent nivelul de insulina din organism. Pentru ca daca ajunge in stomac pentru inceput o anumita cantitate de proteine, pancreasul produce hormonul glucagon, care produce o senzatie de satietate si, ca antagonist al insulinei, contracareaza productia acesteia. Rezultatul: in conditiile unei concentratii reduse de insulina este accelerat procesul de ardere a grasimilor, si nu mai apar atacurile de foame imperioasa.</p>
                

                <img class="citeste_mai_mult_icon" src="/images/icons/regula5_fish.png" alt="regula5">
                <p class="regula_nr">Regula 5:</p>
                <p>Consumati la fiecare masa numai un tip de proteine, insa la fiecare dintre cele 3 mese un tip diferit.</p>
                <p>Organismul descompune in tubul digestiv proteinele preluate din alimentatie (prin intermediul enzimelor) in aminoacizi individuali. Dupa trecerea acestora prin peretele intestinal, sunt recompusi in organism - organismul produce din proteinele din alimente proteinele specifice organismului. Pentru metabolismul nostru, rolul decisiv nu revine cantitatii proteinelor consumate, ci aminoacizilor din care sunt compuse acestea. O importanta speciala revine celor 8 aminoacizi esentiali care trebuie preluati de catre organism din alimentatie, deoarece nu ii poate produce in mod independent. Cu cat mai apropiata este o proteina din alimente cu o proteina specifica organismului, cu atat mai ridicata este asa numita valoare biologica a acesteia. Acest element indica ponderea proteinei provenite dintr-un aliment care poate fi transformata intr-o proteina specifica organismului. Aminoacidul cu cea mai redusa concentratie determina valorificarea totala a proteinei. In cazul in care sunt combinate mai multe proteine, valenta este determinata de catre aminoacidul care prezinta cea mai redusa concentratie si sunt generate substante reziduale care pot determina hiperaciditatea organismului.</p>
                <p>Un raport ideal se regaseste in galbenus, in care cei 8 aminoacizi esentiali sunt transformati 100% in proteine umane. Din acest motiv, galbenusul prezinta o valoare biologica de 100. Pe de alta parte, unul dintre acesti aminoacizi (threonina) este prezent in lapte numai in 91%, motiv pentru care si restul aminoacizilor pot fi utilizati numai in 91%. Astfel laptele prezinta o valoare biologica de 91. Astfel este necesara evitarea combinatiilor de proteine deoarece acestea pot afecta valoarea biologica.</p>

                <img class="citeste_mai_mult_icon" src="/images/icons/regula7_water.png" alt="regula7">
                <p class="regula_nr">Regula 7:</p>
                <p>In situatia in care consumati o cantitate de apa mai redusa in comparatie cu cea de minim 2L pe zi, intarzie procesul de detoxifiere, deoarece apa curata organismul si elimina prin lichide reziduurile descompuse. In situatia in care consumati o cantitate prea redusa, aceste substante raman in organism si greutatea nu se modifica atat de repede.</p>
                <p>Cel mai bine ar fi sa consumati apa inainte sa vi se faca sete, cu repartizare uniforma pe parcursul zilei. Este recomandata in acest scop numai apa plata. Va rugam sa consumati cafea, ceai negru, verde, alb sau ceai de rooibos, insa numai in cadrul meselor.</p>

                <img class="citeste_mai_mult_icon" src="/images/icons/regula8_apple.png" alt="regula8">
                <p class="regula_nr">Regula 8:</p>
                <p>"An apple a day keeps the doctor away". Nici un alt fruct nu are atat de multe vitamine si minerale ca marul, care determina scaderea nivelului de colesterol si a acidului uric! In mod suplimentar, prin continutul ridicat de pectina si celuloza, merele ofera organismului fibre valoroase care prezinta importanta pentru eliminarea mai rapida a fibrelor nocive de metabolizare. Sortimentele clasice de mere (a se vedea lissta) prezinta in special o concentratie mai ridicata de polifenoli, antagonisti activi ai radicalilor liberi. In mod suplimentar, acest fruct aprovizioneaza cu caracter general organismul cu numeroase minerale, fibre, vitamine si oligoelementele importante.</p>

                <a class="btn btn-info btn_hide" href="#top">Ascunde</a>
            </div>
            
        </div>
    
        <%- include('partials/footer'); -%>