<%-include('partials/header');-%>

<div class="under_construction">
    <h3>Page under construction...</h3>

    <img class="img_under_construction" src="/images/icons/under_construction.png" alt="under_construction">
</div>


<%- include('partials/footer'); -%>